<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Template</title>
</head>

<body style="margin: 0; padding: 0; background-color: #f2f2f2; font-family: Arial, sans-serif; text-align: center;">

<div style="width: 100%; max-width: 600px; margin: 0 auto; background-color: #ffffff;">

  <div style="background-image: url('https://media.istockphoto.com/id/1409008873/photo/businessmen-are-conducting-financial-transactions-on-smartphones-directly-p2p-peer-to-peer.jpg?s=612x612&w=0&k=20&c=WF4W4m6dl4M1O70tZ3OdvMLIXayTvR9cUukcneNIqqc='); background-size: cover; color: #ffffff; padding: 40px; text-align: center;">
    <h1 style="color:white; font-weight:bolder">Sure Trade</h1>
    <p>P2P platform for all gift cards and crypto</p>
  </div>

  <div style="padding: 20px; text-align: left;">
    <p>Hi {{ name }},</p>
    <p>You've received payment for the transaction with reference no: <b>{{ reference }}</b>, from <b>{{ payer }}</b> please confirm and give feedback.</p>
    <p>Thank you for choosing Sure Trade.</p>
    <div style="text-align: center; margin-top: 20px;">
      <div href="#" style="display: inline-block; padding: 10px 20px; background-color: #673ab7; color: #ffffff; text-decoration: none; border-radius: 5px;">{{ amount }}</div>
    </div>
  </div>

  <div style="background-color: #673ab7; color: #ffffff; padding: 20px; text-align: left; font-size: 12px;">
    <div style="display: inline-block; width: 22%; margin-right: 3%; vertical-align: top;">
      <h4>Contacts</h4>
      <p>Email: info@suretrade.com</p>
      <p>Address: 123 Main Street, City, Country</p>
    </div>
    <div style="display: inline-block; width: 22%; margin-right: 3%; vertical-align: top;">
      <h4>About Us</h4>
      <p>Learn more about Sure Trade and our mission.</p>
    </div>
    <div style="display: inline-block; width: 22%; margin-right: 3%; vertical-align: top;">
      <h4>Support</h4>
      <p>For customer support, please email support@suretrade.com.</p>
    </div>
    <div style="display: inline-block; width: 22%; vertical-align: top;">
      <h4>Our Platforms</h4>
      <p>Explore our trading platforms and tools.</p>
    </div>
  </div>

</div>

</body>

</html>
